HOST=127.0.0.1
PORT=8787
HEADLESS=false
BROWSER_CHANNEL=chrome
ALLOW_HOSTS=ebay.com,www.ebay.com
CORS_ORIGIN=http://127.0.0.1:8787
RATE_LIMIT_MAX=30
RATE_LIMIT_WINDOW_MS=3600000
GLOBAL_RATE_LIMIT_MAX=30
GLOBAL_RATE_LIMIT_WINDOW_MS=3600000
DAILY_RATE_LIMIT_MAX=300
DAILY_RATE_LIMIT_WINDOW_MS=86400000
NAV_TIMEOUT_MS=90000
SETTLE_MS=1000
VERIFICATION_TIMEOUT_MS=60000
