{
  "openapi": "3.1.0",
  "info": {
    "title": "Raw HTML Gateway API",
    "version": "1.0.0",
    "description": "Serializes the fully rendered DOM for an allowed eBay URL. This deployment uses one persistent headed browser and accepts one capture at a time. It is a raw-HTML capture service, not the eBay Marketplace Insights API."
  },
  "servers": [
    {
      "url": "https://raw-html-maxxing-dd899e.centralus.cloudapp.azure.com",
      "description": "Production Azure gateway"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Check gateway health",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "The gateway process is running.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["ok"],
                  "properties": {
                    "ok": { "type": "boolean", "const": true }
                  }
                },
                "example": { "ok": true }
              }
            }
          }
        }
      }
    },
    "/api/fetch": {
      "post": {
        "summary": "Capture rendered HTML",
        "description": "Dynamic request endpoint. Accepts one eBay URL and returns the complete rendered DOM directly as the text/html response body. Send the next request after the prior response finishes and honor Retry-After on HTTP 202, 429, or 503. If a headed-browser capture fails, its Chromium context is closed while incoming URLs continue entering the persistent queue. After three minutes, a fresh headed browser starts and resumes the queue in arrival order. Login failures use the same recovery window. Cache, disk, and other infrastructure failures remain HTTP 503 retries and do not restart the browser. Accepted uncached captures and retry attempts count toward the shared 10,000-capture rolling 24-hour allowance. Use the batch endpoint for a one-time bulk submission.",
        "operationId": "captureRenderedHtml",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CaptureRequest" },
              "example": {
                "url": "https://www.ebay.com/sch/182982/i.html?_from=R40&_dmd=1&_nkw=2026+topps+chrome+disney&LH_Sold=1&_ipg=240"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Complete rendered HTML.",
            "headers": {
              "Content-Disposition": {
                "description": "Suggested HTML filename.",
                "schema": { "type": "string" },
                "example": "attachment; filename*=UTF-8''2026-topps-chrome-disney-sold.html"
              },
              "X-Source-URL": {
                "description": "Validated source URL.",
                "schema": { "type": "string", "format": "uri" }
              },
              "X-Bytes": {
                "description": "Response size in bytes.",
                "schema": { "type": "integer" }
              },
              "X-Cache": {
                "description": "HIT when returned from cache; MISS when a browser capture was performed.",
                "schema": { "type": "string", "enum": ["HIT", "MISS"] }
              },
              "X-Rate-Limit-Policy": {
                "description": "Aggregate gateway policy.",
                "schema": { "type": "string" },
                "example": "requests 10000/86400s; captures 10000/86400s and 10000/86400s"
              }
            },
            "content": {
              "text/html": {
                "schema": { "type": "string" }
              }
            }
          },
          "202": {
            "description": "The URL was accepted into the persistent queue while the headed browser or eBay login is being restored.",
            "headers": {
              "Retry-After": { "description": "Seconds until the headed-browser restart probe.", "schema": { "type": "integer", "minimum": 1 } },
              "X-Retry-Id": { "description": "Persistent retry identifier.", "schema": { "type": "string", "format": "uuid" } }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "examples": {
                  "browserRestart": { "value": { "status": "restarting_browser", "message": "Please Wait, Restarting Browser", "retryId": "00000000-0000-4000-8000-000000000000", "retryAt": "2026-09-01T18:03:00.000Z" } },
                  "login": { "value": { "status": "waiting_for_login", "message": "Please Wait, Logging In", "retryId": "00000000-0000-4000-8000-000000000000", "retryAt": "2026-09-01T18:03:00.000Z" } }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "429": {
            "description": "Another capture is active or a gateway rate limit was reached.",
            "headers": {
              "Retry-After": {
                "description": "Seconds the caller must wait before retrying.",
                "schema": { "type": "integer", "minimum": 1 }
              },
              "X-Rate-Limit-Policy": {
                "description": "Aggregate gateway policy.",
                "schema": { "type": "string" }
              }
            },
            "content": {
              "text/plain": {
                "schema": { "type": "string" },
                "examples": {
                  "busy": { "value": "A capture is already running. Retry after 10 seconds." },
                  "limited": { "value": "Capture rate limit reached. Retry after the indicated delay." }
                }
              }
            }
          },
          "503": {
            "description": "Capture is temporarily unavailable and has been added to the persistent retry queue.",
            "headers": {
              "Retry-After": { "description": "Seconds until the next automatic attempt.", "schema": { "type": "integer", "minimum": 1 } },
              "X-Retry-Id": { "description": "Persistent retry identifier.", "schema": { "type": "string", "format": "uuid" } }
            },
            "content": {
              "application/json": {
                "schema": { "type": "object" },
                "example": { "error": "Capture temporarily unavailable; queued for automatic retry.", "retryId": "00000000-0000-4000-8000-000000000000", "retryAt": "2026-08-30T18:00:00.000Z" }
              }
            }
          },
          "500": {
            "description": "Capture failed.",
            "content": {
              "text/plain": { "schema": { "type": "string" } }
            }
          }
        }
      }
    },
    "/api/batches": {
      "post": {
        "summary": "Submit a paced HTML batch",
        "description": "Accepts 1 to 10,000 distinct eBay URLs in one request and immediately returns a batch identifier. One persistent browser processes the URLs in order, targeting one capture start every 8.64 seconds and sleeping at least 4.64 seconds after each completed capture. Failed items remain in the persistent queue with exponential backoff. Three matching failures open a five-minute circuit before the next probe; a successful probe releases matching queued work immediately. Only one batch may be active at a time.",
        "operationId": "submitCaptureBatch",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/BatchRequest" },
              "example": {
                "urls": [
                  "https://www.ebay.com/sch/i.html?_nkw=pikachu&LH_Sold=1",
                  "https://www.ebay.com/sch/i.html?_nkw=charizard&LH_Sold=1"
                ]
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Batch accepted for asynchronous processing.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchStatus" } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "409": {
            "description": "Another batch is active.",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/api/batches/{batchId}": {
      "get": {
        "summary": "Get batch status and result links",
        "operationId": "getCaptureBatch",
        "parameters": [
          { "name": "batchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Current batch status. Completed items include a resultUrl.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchStatus" } } }
          },
          "404": { "description": "Batch not found." }
        }
      }
    },
    "/api/batches/{batchId}/results/{index}": {
      "get": {
        "summary": "Download one completed batch result",
        "operationId": "getCaptureBatchResult",
        "parameters": [
          { "name": "batchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "index", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 0 } }
        ],
        "responses": {
          "200": { "description": "Rendered HTML.", "content": { "text/html": { "schema": { "type": "string" } } } },
          "404": { "description": "Result is not ready, has expired, or does not exist." }
        }
      }
    },
    "/api/batches/{batchId}/results": {
      "get": {
        "summary": "Get newly finished batch items",
        "description": "Returns completed HTML itself, or failure details, for items whose index is greater than the supplied cursor. Begin with after=-1, then pass each response's nextCursor as the next after value. Responses are intentionally limited to 10 items because rendered HTML can be large.",
        "operationId": "getIncrementalCaptureBatchResults",
        "parameters": [
          { "name": "batchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "after", "in": "query", "required": false, "schema": { "type": "integer", "minimum": -1, "default": -1 } },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "minimum": 1, "maximum": 10, "default": 1 } }
        ],
        "responses": {
          "200": {
            "description": "Newly finished items, complete rendered HTML, and the cursor for the next poll.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/IncrementalResults" } } }
          },
          "400": { "description": "Invalid cursor or page size." },
          "404": { "description": "Batch not found." }
        }
      }
    },
    "/api/batches/{batchId}/resume": {
      "post": {
        "summary": "Resume a paused batch",
        "description": "Resume after the operator has completed any required interactive verification in the persistent browser.",
        "operationId": "resumeCaptureBatch",
        "parameters": [
          { "name": "batchId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "202": { "description": "Resume accepted." },
          "409": { "description": "The batch is not the currently paused batch." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "CaptureRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["url"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "description": "An HTTP or HTTPS URL on ebay.com or one of its subdomains."
          }
        }
      },
      "BatchRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["urls"],
        "properties": {
          "urls": {
            "type": "array",
            "minItems": 1,
            "maxItems": 10000,
            "uniqueItems": true,
            "items": { "type": "string", "format": "uri" }
          }
        }
      },
      "BatchStatus": {
        "type": "object",
        "required": ["id", "status", "total", "completed", "failed", "remaining", "statusUrl"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "status": { "type": "string", "enum": ["queued", "processing", "paused", "complete"] },
          "total": { "type": "integer" },
          "completed": { "type": "integer" },
          "failed": { "type": "integer" },
          "retrying": { "type": "integer" },
          "remaining": { "type": "integer" },
          "statusUrl": { "type": "string" },
          "items": { "type": "array", "items": { "type": "object" } }
        }
      },
      "IncrementalResults": {
        "type": "object",
        "required": ["batchId", "status", "after", "nextCursor", "hasMore", "items"],
        "properties": {
          "batchId": { "type": "string", "format": "uuid" },
          "status": { "type": "string" },
          "after": { "type": "integer" },
          "nextCursor": { "type": "integer" },
          "hasMore": { "type": "boolean" },
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["index", "url", "status"],
              "properties": {
                "index": { "type": "integer" },
                "url": { "type": "string", "format": "uri" },
                "status": { "type": "string", "enum": ["complete", "failed", "retrying"] },
                "html": { "type": "string", "description": "Complete rendered HTML when status is complete." },
                "error": { "type": "string" },
                "attempt": { "type": "integer" },
                "retryAt": { "type": "string", "format": "date-time" }
              }
            }
          }
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Malformed JSON, invalid URL, unsupported protocol, or disallowed host.",
        "content": {
          "text/plain": {
            "schema": { "type": "string" },
            "example": "Enter a valid URL"
          }
        }
      }
    }
  }
}
